body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #d1b0b0;
    color: #000000;
}

header {
    color: #fffefe;
    height: 40%;
    background-color: #000000;
    width:100%;
    display:flex;
    flex-direction: row;
}
nav{
    font-size: 30px;
    text-align: left;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
    width: 80%;
    
}
nav span{
    font-size: 0.5em;
    margin-left: 5px;
}
.nav_a {
    font-size: 15px;
    text-decoration: none;
    color: #fffefe;
    font-style: normal;
    margin-top: 5px;
}
.nav_a a{
    height: 40px;
    line-height:40px;
    float:right;
    font-size: 15px;
    text-decoration: none;
    color: #fffefe;
    font-style: normal;
    margin-left: 20px;
    
} 
.nav_a a:hover{
    background-color: rgb(247, 225, 196);
    cursor: pointer;

}
.search {
    height:40px;
    text-decoration: none;
    background-color: #918d8d;
    width:100%;
    font-style: normal;
}
.search a{
    height: 40px;
    line-height:40px;
    margin-left: 20px;
    float:left;
    text-decoration: none;
    color:white;
}
.search a:hover{
    background-color: rgb(247, 225, 196);
    cursor: pointer;

}
.search .search_1{
    margin-top: 10px;
    color: #000000; 
}
form{
    float: right;
}
h2{
    margin-left: 50px;
}
.bg{
    padding:10px;
    background-color: #c4c1c1;
    margin-left:50px;
    margin-right:20px;
    width:900px;
    height:auto;
}
.title{
    font-size: 20px;
    margin-left: 50px;
}

table {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
   
    width: 800px;
    
    border: lightgray solid 2px;
    border-collapse: collapse;
    background-color: lemonchiffon;
    margin-right: 40px;
}
table tr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2px;
    height:50px;
    text-align: left;
}
.item img,.item_del img{
    height:100px;
    width:100px;
    box-shadow:0 0 50px #918d8d;
}
.item, .item_del{
    display:flex;
    background: lemonchiffon;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:10px; 

}


.price{
    border: #918d8d 2px;
}
.delete,.del_button{
    text-align: center;
    height: 30px;
}
.delete{
     margin-left: 500px;
      margin-top: 60px;
   
}
.back_button{
    /* margin-left: 450px; */
    text-align: center;
    height: 30px;
    /* margin-top: 60px; */
}
.price1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
}
.pay{
    float:right;
    margin-right: 100px;
    text-align: center;
}
.page_li{
    
    display: inline;
    padding: 0em 0.3em;
}
.page_btn{
    border-radius:4px;
    border:1px solid lightgrey;
    background:white;
    width:35px;
    height:35px;
}
.page_btn:hover{
    border:1px solid cornflowerblue;
    color:cornflowerblue;
}

.page_btn:active{
    background-color: lightskyblue;
}
.item_del{
    display:none;
}